body{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}



    .CodeMirror {
        padding-top:1vw;
        font-family: Arial, monospace;
        font-size:20px;
        width: 40%;

        }